<%= render partial: "layouts/shared/navbar"%>
    
    
<%= form_with model: @data_main do |form|%>

    <% if form.object.errors.any?%>
    <div>
    <%form.object.errors.full_messages.each do |message| %>
       <br> <center><div> <%= message %> </div></center>
        <%end%>
    </div>
    <%end%>

<div class="wrapper">
            <div class = "list_1">
                <div class="container side_list" style = "display: flex; justify-content: center;flex-direction: column;position:relative;bottom:50px;overflow: hidden;">
                    <h style = "color:#484848; font-size: 4vmin; text-align: center;">Site Submission</h><br>
                    <center><form>
                        <%= form.text_field :title, placeholder: 'Site Name', id: 'site_name', type: 'text', class: 'custom_form', style: 'height:20%;'  %>
                        <%= form.text_field :location, placeholder: 'Location', id: 'site_location', type: 'text', class: 'custom_form', style: 'height:20%;' %>
                        <%= form.text_field :era, placeholder: 'Period', id: 'site_period', type: 'text', class: 'custom_form', style: 'height:20%;' %>
                        <%= form.text_field :long, placeholder: 'Longitude', id: 'site_long', type: 'text', class: 'custom_form', style: 'height:20%;' %>
                        <%= form.text_field :lat, placeholder: 'Latitude', id: 'site_lat', type: 'text', class: 'custom_form', style: 'height:20%;' %>
                    </form></center>
                </div>
            </div>

            <div class = "list_2">
                <div class="container side_list" style = "display: flex; justify-content: center;flex-direction: column;"><br><br>
                    <h style = "color:#484848; font-size: 4vmin; text-align: center;">Site Information</h><br>
                        <%= form.text_area :source, id: 'site_info', type: 'text', class: 'custom_form', style: 'height:100%;width: 95%;padding:20px;'%>
                            <div style = "width: 50%; height:0px; margin:auto;">
                            <%= form.radio_button :opt, 'none'%> 
                            <%= form.label :opt, 'None', :value => 'none'%><br>
                            <%= form.radio_button :opt, 'red'%> 
                            <%= form.label :opt, 'Endangered/Abandoned (opt)', :value => 'red'%><br>
                            <%= form.radio_button :opt, 'blue' %>
                            <%= form.label :opt, 'Potential Site (opt)', :value => 'blue'%>
                            </div><br>

                        <%= form.button 'Submit', class: 'button', style: 'position: relative; left: 35%; top: 15%; margin-bottom: 100px; font-size: 3vmin; height: 30%; border:none;'%>
                         <%= form.hidden_field :status, value: "unapproved" %>
                </div>
            </div>
        
    <%end%>



    <%= render partial: "layouts/shared/footer"%>
</div>
