<%= render partial: "layouts/shared/navbar"%>



<main>
        <div class="wrapper">
                <!--Box 1-->
                <div class = "list_1">
                <div class="container side_list">
                    <div style = "text-align: left; margin-top: 50px; line-height: 1.5; margin-left: 20px; height:50vh;">
                        <h style = "color: #545454; font-size: 4vh;"> <%= @data_id.title%></h><br>
                        <h style = "color: #B56768; font-size: 3.5vh;"><%= @data_id.location%></h>
                        <p style = "color: #B56768; font-size: 3vh;"">Period: <%= @data_id.era%></p>
                        <p style = "color: #B56768; font-size: 3vh;">Coordinates: <%= @data_id.long%>, <%= @data_id.lat%></p>
                        
                        <% if @data_id.opt == "red"%>
                            <p style = "color: #B56768; font-size: 2.5vh;"><b>Site Abandoned or Endangered</b></p>
                        <% elsif @data_id.opt == "blue"%>
                            <p style = "color: #B56768; font-size: 2.5vh;"><b>Potential Site</b></p>
                        <% elsif @data_id.opt == "green"%>
                            <p style = "color: #B56768; font-size: 2.5vh;"><b>Site is active and maintained</b></p>
                        <%end%>
                     </div>

                        <div style = "position:relative; bottom:0;">
                                <div class = "circle_button" id = "map_button" style = "position:relative;top:50px;"><span class="material-symbols-outlined" style = "color:white; font-size: 40px; margin:10px;">map</span></div>
                                <!--Allow edit if signed in-->
                                <%if user_signed_in?%>
                                <%= link_to '<div class = "circle_button" id = "edit_button" style = "position:relative;top:50px;"><span class="material-symbols-outlined" style = "color:white; font-size: 40px;margin:10px;">edit</span></div>'.html_safe, data_main_path %>
                                <%end%>
                        </div>
                </div>
                </div>

                <!--Box 2-->
                <div class = "list_2" style = "overflow-y:scroll;overflow: -moz-scrollbars-vertical; ">
                <div class="container side_list">
                  <div style = "text-align: left; margin-top: 50px; line-height: 1.5; margin-left: 20px;">
                  <div style = "height:60vh; width: 90%;">
                        <p style = "color: #B56768; font-size: 3vh;"> <%= @data_id.source.html_safe %> </p>
                     <div style = "position:relative; bottom:0;">
                        <hr>
                        <p style = "color: #B56768; font-size: 2vh;"> Created by  <%= @data_id.creator_name%> - <%= @data_id.creator_email%>:  <%= @data_id.create_date %> </p>
                        <% if @data_id.editor_email != nil and @data_id.edit_date != nil %>
                                <p style = "color: #B56768; font-size: 2vh;"> Last Edited by <%= @data_id.editor_email%>: <%= @data_id.edit_date%>  </p>
                        <%end%>
                     </div>
                  </div><br>

                </div>

                </div>
        </div>

</main>

<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id = "map_individual" style = "width:80%; height:80%;">
        <center><h1 style = "color:#B56768;">Satellite Imagery Feature Coming Soon</h1></center>
    </div>
        <script>
                // //stuff for the map display
                // var map_data =  <%= raw @data_id.to_json %>;

                // var map = L.map ('map_individual');
                // map.setView([Math.round(map_data.long * 100) / 100, Math.round(map_data.lat * 100) / 100], 10);

                // L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=gYAdQevZTRyC4s7dinqH',{
                // attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                // }).addTo(map)


                // var marker = L.marker([map_data.long, map_data.lat]);

                // marker.addTo(map);
        </script>

  </div>

</div>

<script>
        //stuff for the modal
        var modal = document.getElementById("modal");

        var btn = document.getElementById("map_button");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
        modal.style.display = "block";
        }

        span.onclick = function() {
        modal.style.display = "none";
        }

        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }

</script>



<%= render partial: "layouts/shared/footer"%>
