<!DOCTYPE html>
<html>
  <head>
    <title>Digital Archaeological Atlas of the Classical East</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />        
    <%= stylesheet_link_tag 'application', 'application.css' %>

  </head>

  <body>



    <%= yield %>

    
  </body>
</html>
